body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px; /* Adjust this value for the desired base font size */
  line-height: 1.6; /* Optional: Set a comfortable line height */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}
